option_settings:
  - option_name: EMAIL_WHITELIST
    value: <ADDME>.com
  - option_name: GELF_HOST
    value: graylog.<ADDME>.<DOMAIN>
  - option_name: GELF_PORT
    value: 12201
  - option_name: CONSOLE_LOG_LEVEL
    value: "OFF"
  - option_name: COIN_ADMIN_PORT
    value: 9091
  - option_name: COIN_SCHEME
    value: http
  - option_name: COIN_HOST
    value: test-api.<ADDME>.<DOMAIN>
  - option_name: PUBLIC_URL
    value: https://test.<ADDME>.com
  - option_name: EMAIL_WHITELIST
    value: <ADDME>.com
  - option_name: COMMON_SCHEMA
    value: http
  - option_name: COMMON_HOST
    value: test-api.<ADDME>.<DOMAIN>
  - option_name: CONTAINER_HOSTNAME
    value: beanstalk
