option_settings:
  aws:elb:listener:80:
    ListenerProtocol: TCP
    InstancePort: 80
    InstanceProtocol: TCP
    ListenerEnabled: true
  aws:elb:listener:81:
    ListenerProtocol: TCP
    InstancePort: 81
    InstanceProtocol: TCP
    ListenerEnabled: true
  aws:elb:listener:82:
    ListenerProtocol: TCP
    InstancePort: 82
    InstanceProtocol: TCP
    ListenerEnabled: true
  aws:elb:listener:9080:
    ListenerProtocol: TCP
    InstancePort: 9080
    InstanceProtocol: TCP
    ListenerEnabled: true
  aws:elb:listener:9082:
    ListenerProtocol: TCP
    InstancePort: 9082
    InstanceProtocol: TCP
    ListenerEnabled: true
  aws:elb:listener:9084:
    ListenerProtocol: TCP
    InstancePort: 9084
    InstanceProtocol: TCP
    ListenerEnabled: true
  aws:elb:listener:9086:
    ListenerProtocol: TCP
    InstancePort: 9086
    InstanceProtocol: TCP
    ListenerEnabled: true
  aws:elb:listener:9088:
    ListenerProtocol: TCP
    InstancePort: 9088
    InstanceProtocol: TCP
    ListenerEnabled: true
  aws:elb:listener:9090:
    ListenerProtocol: TCP
    InstancePort: 9090
    InstanceProtocol: TCP
    ListenerEnabled: true
  aws:elb:loadbalancer:
    SecurityGroups: sg-7d512218
    ManagedSecurityGroup: sg-7d512218
    CrossZone: true
  aws:ec2:vpc:
    ELBSubnets: "subnet-0985856c,subnet-d22f04a5"
    ELBScheme: internal
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: '/'
