option_settings:
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerEnabled: true
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstancePort: 80
    InstanceProtocol: HTTP
    SSLCertificateId: arn:aws:iam::123052047284:server-certificate/<ADDME>_wildcard_internalCA
    ListenerEnabled: true
  aws:elb:loadbalancer:
    SecurityGroups: sg-<ADDME>
    ManagedSecurityGroup: sg-<ADDME>
    CrossZone: true
  aws:ec2:vpc:
    ELBSubnets: "subnet-<ADDME>,subnet-<ADDME>"
    ELBScheme: external
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: '/'
