option_settings:
  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-<ADDME>
    InstanceType: t2.micro
    EC2KeyName: Auto_Build
    SSHSourceRestriction: tcp, 22, 22, 172.31.32.5/32
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    RootVolumeType: standard
    RootVolumeSize: "8"
