option_settings:
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerEnabled: true
  aws:elb:loadbalancer:
    SecurityGroups: sg-<ADDME>
    ManagedSecurityGroup: sg-<ADDME>
    CrossZone: true
  aws:ec2:vpc:
    ELBSubnets: "subnet-<ADDME>,subnet-<ADDME>"
    ELBScheme: internal
